{% extends 'base/base.html' %}

{% block contenido %}

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
              <div class="card-icon">
                  <i class="material-icons">assignment</i>
              </div>
              <h3 class="card-title">Radicación de Ordenes de Publicidad<span style="color: gray; font-size: 12px; padding:10px;"> SEDE {{sede.nombre_sede}}</span></h3>
              <a href="{% url 'radio:radicaciones' %}" class="btn btn-info"><span class="fa fa-plus-circle"></span>   Nuevo</a>
          </div>
          <div class="card-body">
            <div class="material-datatables">
              <table id="radicaciones_table" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%; font-size:12px;">
                <thead>
                  <tr>
                    <th style="font-size:12px; background: gray; color: white;" data-orderable="false"><strong>#</strong></th>
                    <th style="font-size:12px; background: gray; color: white;"><strong>RAD No.</strong></th>
                    <th style="font-size:12px; background: gray; color: white;"><strong>FECHA</strong></th>
                    <th style="font-size:12px; background: gray; color: white;"><strong>CLIENTE</strong></th>
                    <th style="font-size:12px; background: gray; color: white;"><strong>ANUNCIANTE</strong></th>
                    <th style="font-size:12px; background: gray; color: white;"><strong>ORDEN CLIENTE</strong></th>
                    <th style="font-size:12px; background: gray; color: white;"><strong>ASESOR</strong></th>
                    <th style="font-size:12px; background: gray; color: white;"><strong>PROVICIONAL</strong></th>
                    <th style="font-size:12px; background: gray; color: yellow;" data-orderable="false" class="text-center"><strong>Acciones</strong></th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th><strong>#</strong></th>
                    <th><strong>Radicación No.</strong></th>
                    <th><strong>Fecha</strong></th>
                    <th><strong>Cliente</strong></th>
                    <th><strong>Anunciante</strong></th>
                    <th><strong>Orden Publicidad</strong></th>
                    <th><strong>Asesor</strong></th>
                    <th><strong>Provicional</strong></th>
                    <th data-orderable="false" class="text-center"><strong>Acciones</strong></th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for item in radicaciones %}
                    <div style="display: none">
                      {{ forloop.counter1 }}
                    </div>
                    <tr>
                        <td style="font-size:12px;">{{ forloop.counter }}</td>
                        <td>{{item.id}}</td>
                        <td>{{item.fecha}}</td>
                        <td><a href="{% url 'ordenacion:listarordenes' item.id item.nit_cliente__rzn_social %}">{{item.nit_cliente__rzn_social}}</a></td>
                        <td>{{item.nit_anunciante__rzn_social}}</td> 
                        <td style="color:rgb(45, 92, 221);" class="text-center">{{item.no_publicidad}}</td>
                        <td class="text-center">{{item.asesor_comercial}}</td>
                        <td class="td-actions text-center">
                          <a href="{% url 'ordenacion:update_provicional' item.id item.producto %}">
                            {% if item.orden_provicional %}
                              <button type="button" rel="tooltip" class="btn btn-success btn-round">
                                <i class="material-icons">done</i>
                              </button>
                            {% else %}
                              <button type="button" rel="tooltip" class="btn btn-gray btn-round">
                                <i class="material-icons">close</i>
                              </button>
                            {% endif %}
                          </a>
                        </td>
                        <td class="td-actions text-center">
                          <a href="{% url 'ordenacion:listarordenes' item.id item.nit_cliente__rzn_social %}">

                            <button type="button" rel="tooltip" class="btn btn-info btn-round">
                              <i class="material-icons">add</i>
                            </button>
                          </a>

                          <a href="{% url 'radio:rad_edit' item.id %}">
                            <button type="button" rel="tooltip" class="btn btn-success btn-round">
                                <i class="material-icons">edit</i>
                            </button>
                          </a>
                          <a href="#">
                            <button type="button" rel="tooltip" class="btn btn-danger btn-round">
                                <i class="material-icons">delete</i>
                            </button>
                          </a>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#radicaciones_table').DataTable({
      "pagingType": "full_numbers",
      "lengthMenu": [
        [10, 25, 50, -1],
        [10, 25, 50, "Todo"]
      ],
      responsive: true,
      "language": {
        "sProcessing":    "Procesando...",
        "sLengthMenu":    "Mostrar _MENU_ registros",
        "sZeroRecords":   "No se encontraron resultados",
        "sEmptyTable":    "Ningún dato disponible en esta tabla",
        "sInfo":          "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty":     "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered":  "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix":   "",
        "sSearch":        "Buscar:",
        "sUrl":           "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
            "sFirst":    "Primero",
            "sLast":    "Último",
            "sNext":    "Siguiente",
            "sPrevious": "Anterior"
        }}
    });

    var table = $('#radicaciones_table').DataTable();

    // Edit record
    table.on('click', '.edit', function() {
      $tr = $(this).closest('tr');
      var data = table.row($tr).data();
      alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
    });

    // Delete a record
    table.on('click', '.remove', function(e) {
      $tr = $(this).closest('tr');
      table.row($tr).remove().draw();
      e.preventDefault();
    });

    //Like record
    table.on('click', '.like', function() {
      alert('You clicked on Like button');
    });
  });
</script>

{% endblock contenido %}