<div class="row">
    <div class="card">
        <div class="card-body">
            <div style="display: none">
                {{form.fecha}}
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body text-center">
                            <div id="sale_item_form_set_management_form">
                                {{ detalle_movimientos.management_form }}
                            </div>
                            <div id="sale_item_form_set_non_form_errors" class="text-danger">
                                {{ detalle_movimientos.non_form_errors }}
                            </div>
                            <div class="col-md-2">
                                <div class="form-group bmd-form-group">
                                    <input name="bar_code_read" id="id_bar_code_read" onkeydown="onKeyDownHandler(event, id);">
                                </div>
                            </div>
                            <div id="formset_wrapper" style="font-size:8px;">
                                {% for item in detalle_movimientos %}
                                    <div style="display: none">
                                        {{ forloop.counter0 }}
                                    </div>
                                    
                                    <div class="form-invoice-item-content">
                                        <div class="form-row justify-content-center" id="formset-{{ forloop.counter0 }}">
                                            <div style="display: none">
                                                <input name="factp_set-{{forloop.counter0}}-porc_iva" readonly="true" id="id_factp_set-{{forloop.counter0}}-porc_iva">
                                                <!--<input name="factp_set-{{forloop.counter0}}-valor_iva" readonly="true" id="id_factp_set-{{forloop.counter0}}-valor_iva">-->
                                                <input name="factp_set-{{forloop.counter0}}-valor_total" readonly="true" id="id_factp_set-{{forloop.counter0}}-valor_total">
                                                <input name="factp_set-{{forloop.counter0}}-prod" readonly="true" id="id_factp_set-{{forloop.counter0}}-prod">
                                            </div>
                                            <div class="col-md-1">
                                                <label class="control-label col-form-label"
                                                        for="{{ field.id_for_label }}">
                                                    {{ item.producto.label }} {% if item.producto.field.required %}*{% endif %}
                                                </label>
                                                <div class="form-group bmd-form-group">
                                                    {{ item.producto | add_classes:'form-control text-right' }}
                                                    <div class="text-danger">
                                                        {% for error in item.producto.errors %}
                                                            <li>{{ error|escape }} </li>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <label class="control-label col-form-label"
                                                        for="{{ field.id_for_label }}">
                                                    {{ item.referencia.label }} {% if item.referencia.field.required %}*{% endif %}
                                                </label>
                                                <div class="form-group bmd-form-group">
                                                    {{ item.referencia | add_classes:'form-control text-right' }}
                                                    <div class="text-danger">
                                                        {% for error in item.referencia.errors %}
                                                            <li>{{ error|escape }} </li>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <label class="control-label col-form-label"
                                                        for="{{ field.id_for_label }}">
                                                    {{ item.tiempo_cuna.label }} {% if item.tiempo_cuna.field.required %}*{% endif %}
                                                </label>
                                                <div class="form-group bmd-form-group">
                                                    {{ item.tiempo_cuna | add_classes:'form-control text-right' }}
                                                    <div class="text-danger">
                                                        {% for error in item.tiempo_cuna.errors %}
                                                            <li>{{ error|escape }} </li>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-1">
                                                <label class="control-label col-form-label"
                                                        for="{{ field.id_for_label }}">
                                                    {{ item.costo_cuna.label }} {% if item.costo_cuna.field.required %}*{% endif %}
                                                </label>
                                                <div class="form-group bmd-form-group">
                                                    {{ item.costo_cuna | add_classes:'form-control costo_cuna_string text-right' }}
                                                    <div class="text-danger">
                                                        {% for error in item.costo_cuna.errors %}
                                                            <li>{{ error|escape }} </li>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-1">
                                                <label class="control-label col-form-label"
                                                        for="{{ field.id_for_label }}">
                                                    {{ item.fr_dia.label }} {% if item.fr_dia.field.required %}*{% endif %}
                                                </label>
                                                <div class="form-group bmd-form-group">
                                                    {{ item.fr_dia | add_classes:'form-control fr_dia_string text-right' }}
                                                    <div class="text-danger">
                                                        {% for error in item.fr_dia.errors %}
                                                            <li>{{ error|escape }} </li>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-1">
                                                <label class="control-label col-form-label"
                                                        for="{{ field.id_for_label }}">
                                                    {{ item.mencion.label }} {% if item.mencion.field.required %}*{% endif %}
                                                </label>
                                                <div class="form-group bmd-form-group">
                                                    {{ item.mencion | add_classes:'form-control mencion_string text-right' }}
                                                    <div class="text-danger">
                                                        {% for error in item.mencion.errors %}
                                                            <li>{{ error|escape }} </li>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-2">
                                                <div class="form-group bmd-form-group">
                                                    {{ item.valor_iva | add_classes:'form-control text-right' }}
                                                </div>
                                            </div>
                                   
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <!--<div class="text-right">
                                <button type="button" class="btn btn-success"
                                    id="add_more">{% trans '+ Producto' %}
                                </button>
                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel-footer">
            <div class="text-center">
                <!--<button id="btn_save" type="submit" class="btn btn-social-icon btn-info" name="submit" ><i class="fa fa-shopping-cart"></i>  T O T A L</button>
                <a class="btn btn-social-icon btn-dark" href="{% url 'generales:home' %}"><i class="fa fa-times"></i> Cancelar</a>-->
            </div>
        </div>
    </div>

</div>












<div style="display: none">
    {% with detalle_movimientos.empty_form as item_form %}
        <div id="movimientos_item_empty_form">
            <div class="form-invoice-item-content">
                <div class="form-row justify-content-center" id="formset-__prefix__">
                    <div style="display: none">
                        <input name="factp_set-__prefix__-porc_iva" readonly="true" id="id_factp_set-__prefix__-porc_iva">
                        <!--<input name="factp_set-__prefix__-valor_iva" readonly="true" id="id_factp_set-__prefix__-valor_iva">-->
                        <input name="factp_set-__prefix__-valor_total" readonly="true" id="id_factp_set-__prefix__-valor_total">
                        <input name="factp_set-__prefix__-prod" readonly="true" id="id_factp_set-__prefix__-prod">
                    </div>
                    {% for field in item_form.visible_fields %}
                        <div id="col" class="col-md-2 text-center">
                            <div class="form-group bmd-form-group">
                                {{ field | add_classes:'form-control text-right' }}
                                <div class="text-danger">
                                    {% for error in field.errors %}
                                        <li>{{ error|escape }} </li>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endwith %}
</div>